            <section class="section projects-section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.projects.icon }}"></i>{{ i18n "publication" }}</h2>
                <div class="intro">
                    <h3 class="job-title">{{ with .Site.Params.projects.intro }}{{ . | markdownify }}{{ end }}</h3>
                </div><!--//intro-->
				{{ range .Site.Params.projects.list }}
                <div class="item">
                    <p><a href="{{ .url }}">- {{ .title }}</a>: {{ with .tagline }}{{ . | markdownify }}{{ end }}</p>
                </div><!--//item-->
				{{ end }}
            </section><!--//section-->
